/************************** General Style *********************/
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 20px;
}

ul {
  text-decoration: none;
  list-style-type: none;
}
/* body {
  width: 1015px;
  margin: 0 auto;
  padding: 0px 20px;
} */
button {
  border: none;
  background: none;
}

/************************** Header *********************/

header {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 80px;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  background: white;
}

#headContainer {
  display: flex;
  justify-content: space-between;
  width: 1015px;
  margin: 0 auto;
  height: 70px;
}

header div ul {
  display: flex;
}

header div ul li {
  padding: 10px;
}

#NavBarRightSide img {
  width: 28px;
  height: 28px;
  padding: 10px;
}
/************************** Container *********************/
#EveryThing_Container {
  width: 1150px;
  margin: 0 auto;
  padding: 0px 20px;
}

/************************** Items Side *********************/
h1 {
  margin-top: 100px;
  height: 20px;
  width: 300px;
}

#items {
  margin-top: 100px;
  width: 750px;
  float: left;
}

.item {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item img {
  width: 200px;
}

svg {
  width: 20px;
  height: 20px;
  margin: 10px 10px;
}

input {
  width: 30px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.likeAndClose {
  width: 100px;
  float: left;
}

.ImgAndCaption {
  display: flex;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: center;
}

/************************** Items Side *********************/

#Bill {
  float: right;
  margin-top: 200px;
  width: 350px;
  height: 400px;
  background-color: #191f1e;
  color: #4a5150;
  padding: 10px;
  border: 3px;
  border-radius: 5px;
}
#articles {
  margin: 100px 10px;
}

#articles h4 {
  height: 70px;
}
